
.stackBox {
  width: 100px;
  padding: 10px;
  margin: 5px auto;
  background-color: lightblue;
  border: 2px solid black;
  transition: all 0.3s ease;
}


#stackContainer {
  margin-top: 20px;
}


input {
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.queueBox {
  display: inline-block;
  width: 100px;
  padding: 10px;
  margin: 5px;
  background-color: lightcoral;
  border: 2px solid black;
}

#sortContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 250px;
  margin-top: 20px;
}

.sortBar {
  width: 20px;
  margin: 2px;
  transition: height var(--speed) ease, background-color var(--speed) ease;
}

#callStack {
  width: 250px;
  min-height: 200px;
  border: 2px solid black;
  margin: 20px auto;
  padding: 10px;
  background-color: #f5f5f5;
}

.stackFrame {
  background-color: #ddd;
  border: 1px solid #333;
  padding: 5px;
  margin: 5px 0;
  font-size: 12px;
}

body {
  font-family: Arial;
  text-align: center;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #e0f7fa, #e3f2fd);
}

.mainTitle {
  font-size: 40px;
  margin-top: 20px;
}

.tagline {
  color: gray;
  margin-bottom: 20px;
}

.navButtons {
  margin: 20px;
}

.navButtons button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #4facfe;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.navButtons button:hover {
  transform: scale(1.1);
  background-color: #00c6ff;
}

.cardSection {
  background: white;
  padding: 20px;
  margin: 30px auto;
  width: 80%;
  border-radius: 15px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.cardSection:hover {
  transform: scale(1.01);
}

button {
  margin: 5px;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  background: #4facfe;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.stackBox:hover,
.queueBox:hover {
  transform: scale(1.1);
}

