body {
  font-family: Arial;
  text-align: center;
}

.stackBox {
  width: 100px;
  padding: 10px;
  margin: 5px auto;
  background-color: lightblue;
  border: 2px solid black;
  transition: all var(--speed) ease;
}


#stackContainer {
  margin-top: 20px;
}

.stackBox {
  transition: all 0.3s ease;
}

button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

input {
  padding: 8px;
  margin: 5px;
}


.queueBox {
  display: inline-block;
  width: 100px;
  padding: 10px;
  margin: 5px;
  background-color: lightcoral;
  border: 2px solid black;
}

